/* Write your CSS here */
.bg-container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-container {
  background-color: lightgray;
  border-radius: 10px;
  width: 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input {
  padding: 10px;
  border: none;
  background-color: transparent;
  outline: none;
}
.search-icon {
  width: 20px;
  height: 20px;
  margin: 10px;
}
.main-dest-container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
